<p id="welcome">BENVENUTO SU PLAYSTATIONSTORE ITALIA</p>
<ngb-carousel *ngIf="image">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<a routerLink="../game" (click)="getGame1()"><img [src]="image[0]" class="carousel" alt="Random first slide" /></a>
		</div>
		<div class="carousel-caption">
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<a routerLink="../game" (click)="getGame2()"><img [src]="image[1]" class="carousel" alt="Random second slide" /></a>
		</div>
		<div class="carousel-caption">
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<a routerLink="../game" (click)="getGame3()"><img [src]="image[2]" class="carousel" alt="Random third slide" /></a>
		</div>
		<div class="carousel-caption">
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<a routerLink="../game" (click)="getGame4()"><img [src]="image[3]" class="carousel" alt="Random fourth slide" /></a>
		</div>
		<div class="carousel-caption">
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<a routerLink="../game" (click)="getGame5()"><img [src]="image[4]" class="carousel" alt="Random fifth slide" /></a>
		</div>
		<div class="carousel-caption">
		</div>
	</ng-template>
</ngb-carousel>
<p id="mid">Scegli un genere che ti piace</p>
<div class="filters">
    <div class="genre">
        <a routerLink="../filtered"><img src="/assets/games/Persona 5.webp" class="image" routerLink="filtered"></a>
        <p class="choice">Giochi di ruolo</p>
    </div>
    <div class="genre">
        <a routerLink="../filtered"><img src="/assets/games/Crash.webp" class="image" routerLink="filtered"></a>
        <p class="choice">Azione</p>
    </div>
    <div class="genre">
        <a routerLink="../filtered"><img src="/assets/games/GOWR.webp" class="image" routerLink="filtered"></a>
        <p class="choice">Avventura</p>
    </div>
    <div class="genre">
        <a routerLink="../filtered"><img src="/assets/games/Fifa.webp" class="image" routerLink="filtered"></a>
        <p class="choice">Sport</p>
    </div>
</div>