header{
    display:flex;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbf7e3;
    padding: 3vw;
    border-radius: 50px;
    width: 80vw;
}
button{
    background-color: #f3df85;
    border: none;
    border-radius: 50px;
    padding: 1.8vw;
    color: #723811;
    font-weight: 700;
    font-size: 1.5vw;
}
#shop{
    display: flex;
    padding: 3vw;
    align-items: center;
    font-size: 4vw;
}
#shop img{
    width: 2em;
    padding-right: 2vw;
}