<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <p class="text">Inserisci il tuo nome</p>    
    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput ngModel type="text" name="name" required>
    </mat-form-field>
    <p class="text">Inserisci il tuo username</p>    
    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput ngModel type="text" name="username" required>
    </mat-form-field>
    <p class="text">Inserisci la tua mail</p> 
    <mat-form-field appearance="fill">
        <mat-label>Mail</mat-label>
        <input matInput ngModel type="email" name="email" required>
    </mat-form-field>
    <p class="text">Inserisci la password</p> 
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput ngModel type="password" name="password" required>
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="!form.valid">Crea account</button>
</form>  
