form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vw;
    .text{
        font-size: 1vw;
    }
    button{
        font-size: 1vw;
        background-color:#003697;
        color: white;
        padding: 0.5vw;
    }
}
@media (max-width: 992px){
    form{
        .text, button{
            font-size: 3vw;
        }
    }
}
