*{
    font-size: 1vw;
}
#logo{
    width: 10vw;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2vh 2vw;
    border-bottom: 1.5px solid black;
}
.right{
    padding: 0 2vw;
}
.login{
    padding-right: 5vw;
}