*{
    font-size: 1vw;
}
.logo{
    width: 8vw;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    border-bottom: 1.5px solid black;
    position: sticky;
    top: 0;
    z-index: 10000;
    background-color: white;
}
.user{
    font-weight: 900;
    font-size: 2vw;
    display: inline-block;
    margin-right: 2vw;
}
.right{
    padding: 0 2vw;
}
.example-full-width{
    width: 15vw;
}
.login{
    margin-right: 5vw;
    padding: 0.5vw 1vw;
    color: white;
    background-color: #003697;
    border: none;
    border-radius: 50px;
    text-decoration: none;
}
#footer{
    background-color: black;
    padding: 5vw;
}
#foot{
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
}
.column{
    width: 25vw;
}
#foot div a{
    text-decoration: none;
    color: white;
}
@media (max-width: 992px){
    .nav{
        padding: 1.5vh 2vw;
    }
    .logo{
        width: 16vw;
    }
    input{
        font-size: 2vw;
    }
    .login{
        font-size: 2.5vw;
    }
    #search{
        width: 25vw;
        font-size: 2vw;
    }
    .bi-search{
        font-size: 2.5vw;
    }
    #foot div a{
        font-size: 3vw;
    }
}