<div>
    <a><img [src]="prova[0].img"></a>
    <a><img [src]="prova[1].img"></a>
    <a><img [src]="prova[2].img"></a>
    <a><img [src]="prova[3].img"></a>
    <a><img [src]="prova[4].img"></a>
    <a><img [src]="prova[5].img"></a>
    <a><img [src]="prova[6].img"></a>
    <a><img [src]="prova[7].img"></a>
    <a><img [src]="prova[8].img"></a>
    <a><img [src]="prova[9].img"></a>
    <a><img [src]="prova[10].img"></a>
    <a><img [src]="prova[11].img"></a>
    <a><img [src]="prova[12].img"></a>
    <a><img [src]="prova[13].img"></a>
    <a><img [src]="prova[14].img"></a>
    <a><img [src]="prova[15].img"></a>
    <a><img [src]="prova[16].img"></a>
    <a><img [src]="prova[17].img"></a>
    <a><img [src]="prova[18].img"></a>
    <a><img [src]="prova[19].img"></a>
    <a><img [src]="prova[20].img"></a>
    <a><img [src]="prova[21].img"></a>
    <a><img [src]="prova[22].img"></a>
    <a><img [src]="prova[23].img"></a>
</div>
