<div *ngFor="let a of filtered">
    <div class="result">
        <a routerLink="../game" (click)="getGame(a)"><img class="resimg" [src]="a.img"></a>
        <div>
            <p class="text">{{a.title}}</p>
            <p class="text">{{a.price}}</p>
        </div>
    </div>
</div>
<p class="text" style="text-align: center;" *ngIf="emptyfav == true">Il tuo elenco preferiti è vuoto</p>
<p class="text" style="text-align: center;" *ngIf="emptycart == true">Il tuo carrello è vuoto</p>
<div id="check">
    <button class="text" *ngIf="checkout == true && emptycart == false" (click)="thanks()" routerLink="/home">Procedi al pagamento</button>
</div>
